<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.manager.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.zy.cms.vo.Menu" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="SMALLINT" />
    <result column="PARENT" property="parent" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="TYPE" property="type" jdbcType="SMALLINT" />
    <result column="STATUS" property="status" jdbcType="SMALLINT" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MODULE_ID, NAME, LEVEL, PARENT, ICON, URL, SORT, TYPE, STATUS, DESCRIPTION, CREATE_TIME, 
    UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_menu
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_menu
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.cms.vo.Menu" >
    insert into cms_menu (ID, MODULE_ID, NAME, 
      LEVEL, PARENT, ICON, 
      URL, SORT, TYPE, STATUS, 
      DESCRIPTION, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{moduleId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{level,jdbcType=SMALLINT}, #{parent,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{type,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.cms.vo.Menu" >
    insert into cms_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="moduleId != null" >
        MODULE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="parent != null" >
        PARENT,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.cms.vo.Menu" >
    update cms_menu
    <set >
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=SMALLINT},
      </if>
      <if test="parent != null" >
        PARENT = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.cms.vo.Menu" >
    update cms_menu
    set MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=SMALLINT},
      PARENT = #{parent,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=SMALLINT},
      STATUS = #{status,jdbcType=SMALLINT},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserMenus" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from cms_menu
    where TYPE = #{type,jdbcType=SMALLINT}
    and STATUS = 1
    and MODULE_ID in 
    <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">  
	  #{id}  
 	</foreach> 
 	ORDER BY sort ASC
  </select>
  <select id="selectAllEnableMenus" resultMap="BaseResultMap" parameterType="java.lang.Short">
  	select 
    <include refid="Base_Column_List" />
    from cms_menu
    where STATUS = #{status,jdbcType=SMALLINT}
    ORDER BY sort ASC
  </select>
</mapper>