<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.manager.SmsChannelMonitorNoticeSettingMapper" >
  <resultMap id="BaseResultMap" type="com.zy.cms.entity.SmsChannelMonitorNoticeSetting" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NOTICE_TYPE" property="noticeType" jdbcType="VARCHAR" />
    <result column="NOTICE_EMAIL" property="noticeEmail" jdbcType="VARCHAR" />
    <result column="NOTICE_PHONE" property="noticePhone" jdbcType="VARCHAR" />
    <result column="ITEM_TYPE" property="itemType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NOTICE_TYPE, NOTICE_EMAIL, NOTICE_PHONE, ITEM_TYPE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sms_channel_monitor_notice_setting
    where ID = #{id,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sms_channel_monitor_notice_setting
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.cms.entity.SmsChannelMonitorNoticeSetting" >
    insert into sms_channel_monitor_notice_setting (ID, NOTICE_TYPE, NOTICE_EMAIL, 
      NOTICE_PHONE, ITEM_TYPE, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{noticeType,jdbcType=VARCHAR}, #{noticeEmail,jdbcType=VARCHAR}, 
      #{noticePhone,jdbcType=VARCHAR}, #{itemType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.cms.entity.SmsChannelMonitorNoticeSetting" >
    insert into sms_channel_monitor_notice_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="noticeType != null" >
        NOTICE_TYPE,
      </if>
      <if test="noticeEmail != null" >
        NOTICE_EMAIL,
      </if>
      <if test="noticePhone != null" >
        NOTICE_PHONE,
      </if>
      <if test="itemType != null" >
        ITEM_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="noticeType != null" >
        #{noticeType,jdbcType=VARCHAR},
      </if>
      <if test="noticeEmail != null" >
        #{noticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="noticePhone != null" >
        #{noticePhone,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.cms.entity.SmsChannelMonitorNoticeSetting" >
    update sms_channel_monitor_notice_setting
    <set >
      <if test="noticeType != null" >
        NOTICE_TYPE = #{noticeType,jdbcType=VARCHAR},
      </if>
      <if test="noticeEmail != null" >
        NOTICE_EMAIL = #{noticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="noticePhone != null" >
        NOTICE_PHONE = #{noticePhone,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        ITEM_TYPE = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.cms.entity.SmsChannelMonitorNoticeSetting">
    update sms_channel_monitor_notice_setting
    set NOTICE_TYPE = #{noticeType,jdbcType=VARCHAR},
      NOTICE_EMAIL = #{noticeEmail,jdbcType=VARCHAR},
      NOTICE_PHONE = #{noticePhone,jdbcType=VARCHAR},
      ITEM_TYPE = #{itemType,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="querySmsChannelMonitorNoticeSetting" resultMap="BaseResultMap" parameterType="com.zy.cms.entity.SmsChannelMonitorNoticeSetting" >
    select 
    <include refid="Base_Column_List" />
    from sms_channel_monitor_notice_setting
    where ITEM_TYPE = 1 limit 1
  </select>
</mapper>