<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.master.BlackKeyPolicyMapper" >
  <resultMap id="BaseResultMap" type="com.zy.cms.vo.BlackKeyPolicy" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="POLICY_NAME" property="policyName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, POLICY_NAME, CREATE_TIME, UPDATE_TIME
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete 
    from 
     sms_black_key_policy
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.zy.cms.vo.BlackKeyPolicy" >
    insert into sms_black_key_policy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="policyName != null" >
        POLICY_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policyName != null" >
        #{policyName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.zy.cms.vo.BlackKeyPolicy">
	  update 
	  	  sms_black_key_policy 
	  set 
		  POLICY_NAME=#{policyName,jdbcType=VARCHAR}, 
		  REMARK=#{remark,jdbcType=VARCHAR},
		  UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP} 
	  where 
	  	  ID=#{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectListByQuery" parameterType="Map" resultMap="BaseResultMap">
  	select * from sms_black_key_policy 
  	<include refid="query_where_clause"/>
  	order by ID desc
  	limit
	 #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="getInfoByPolicyName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  		* 
  	from 
  		sms_black_key_policy 
  	where 
  	    POLICY_NAME=#{policyName,jdbcType=VARCHAR}
  </select>
  
  
  <select id="getInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  		* 
  	from 
  		sms_black_key_policy 
  	where 
  	    ID=#{id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryCountByQuery" parameterType="Map" resultType="java.lang.Integer">
  	select 
  		count(1) 
  	from 
  		sms_black_key_policy 
  	<include refid="query_where_clause"/>
  </select>
  
  
  <select id="selectListAll" resultMap="BaseResultMap">
  	select
      * 
    from 
      sms_black_key_policy w
    where 
      w.id!=0
  	order by ID desc
  </select>
  
  <sql id="query_where_clause">
	<where>
	    <if test="policyName != null and policyName !=''">
	        and POLICY_NAME like concat('%', #{policyName}, '%')
	    </if>
		<if test="starttime != null and starttime !=''">
		    AND <![CDATA[ DATE_FORMAT(CREATE_TIME, '%Y-%m-%d %H:%i:%s')>=  DATE_FORMAT(#{starttime}, '%Y-%m-%d %H:%i:%s')]]>
		</if>
		<if test="endtime != null and endtime !=''">
		   AND <![CDATA[ DATE_FORMAT(CREATE_TIME, '%Y-%m-%d %H:%i:%s')<=  DATE_FORMAT(#{endtime}, '%Y-%m-%d %H:%i:%s')]]>
		</if>
	</where>
  </sql>
</mapper>