<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.master.BlackKeyMapper">
	<select id="getAllblackkey" resultType="String">
		SELECT BLACK_KEY FROM SMS_BLACK_KEY
	</select>
</mapper>