<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.master.SmsChannelDispatchMapper">

	<select id="getSmsChannelDispatchByCId" resultType="Map"
		parameterType="String">
		select
		ID, CHANNEL_ID, PARAM_KEY, PARAM_VALUE, PARAM_TYPE, CREATE_TIME,
		UPDATE_TIME
		from sms_channel_dispatch
		where 1=1 and CHANNEL_ID=#{channelId,jdbcType=VARCHAR}
		ORDER BY UPDATE_TIME DESC
	</select>

	<delete id="delSmsChannelDispatchByCId" parameterType="String">
		delete
		from sms_channel_dispatch
		where 1=1 and CHANNEL_ID=#{channelId,jdbcType=VARCHAR}
	</delete>

	<insert id="saveSmsChannelDispatch" parameterType="Map">
		insert into sms_channel_dispatch
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="CHANNEL_ID != null">
				CHANNEL_ID,
			</if>
			<if test="PARAM_KEY != null">
				PARAM_KEY,
			</if>
			<if test="PARAM_VALUE != null">
				PARAM_VALUE,
			</if>
			<if test="PARAM_TYPE != null">
				PARAM_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="CHANNEL_ID != null">
				#{CHANNEL_ID,jdbcType=VARCHAR},
			</if>
			<if test="PARAM_KEY != null">
				#{PARAM_KEY,jdbcType=VARCHAR},
			</if>
			<if test="PARAM_VALUE != null">
				#{PARAM_VALUE,jdbcType=VARCHAR},
			</if>
			<if test="PARAM_TYPE != null">
				#{PARAM_TYPE,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

</mapper>