<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cms.mapper.master.VoicePackageMapper" >

  <sql id="Base_Column_List" >
    ID, PACKAGE_NAME, PACKAGE_FEE, IS_SOLDOUT, GIFT, PACKAGE_DESC, UPDATE_TIME, CREATE_TIME
  </sql>
 
  <select id="getAllPackages" resultType="Map" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from voice_package
  </select>
</mapper>